{% extends 'base.html' %}

{% block content %}
<div class="container-fluid my-3">
    <div class="container">
        <p class="h1 text-center">Newera Claim Form Generator</p>
    </div>
    <hr>
    <form action="index.php" method="POST" id="claimform">
        <div class="container border border-dark">
            <p class="h4 text-center mt-2">1. Enter lecturer & class informations</p>
            <div class="row mb-2">
                <div class="col-12">
                    <label class="form-label mb-0" for="inputYear">Company</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="inputCompany" id="inputCompany{{ constant('App\\ClaimFormGenerator::COMPANY_DJZ') }}" value="{{ constant('App\\ClaimFormGenerator::COMPANY_DJZ') }}">
                        <label class="form-check-label" for="inputCompany{{ constant('App\\ClaimFormGenerator::COMPANY_DJZ') }}">董教总教育中心 DJZ Higher Learning Centre Bhd.</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="inputCompany" id="inputCompany{{ constant('App\\ClaimFormGenerator::COMPANY_NEWERA') }}" value="{{ constant('App\\ClaimFormGenerator::COMPANY_NEWERA') }}">
                        <label class="form-check-label" for="inputCompany{{ constant('App\\ClaimFormGenerator::COMPANY_NEWERA') }}">新纪元大学学院  New Era University College</label>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-6">
                    <label class="form-label mb-0" for="inputYear">Year</label>
                    <input type="number" class="form-control" value="{{ default.year }}" id="inputYear" name="inputYear" min="2020" max="9999" step="1" required>
                </div>
                <div class="col-6">
                    <label class="form-label mb-0">Month</label>
                    <select class="form-control" name="inputMonth" id="inputMonth" required>
                        <option value="">--Select--</option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-6">
                    <label class="form-label mb-0" for="inputCname">Chinese Name</label>
                    <input type="text" class="form-control" value="" id="inputCname" name="inputCname" maxlength="25">
                </div>
                <div class="col-6">
                    <label class="form-label mb-0" for="inputEname">English Name</label>
                    <input type="text" class="form-control" value="" id="inputEname" name="inputEname" maxlength="50" required>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-6">
                    <label class="form-label mb-0" for="inputDepartmentName">Department Name</label>
                    <input type="text" class="form-control" value="" id="inputDepartmentName" name="inputDepartmentName" maxlength="25" required>
                </div>
                <div class="col-6">
                    <label class="form-label mb-0" for="inputStaffId">Staff ID</label>
                    <input type="text" class="form-control" value="" id="inputStaffId" name="inputStaffId" length="6" required>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12">
                    <label class="form-label mb-0" for="inputSubjectCode">Subject Code</label>
                    <input type="text" class="form-control" value="" id="inputSubjectCode" name="inputSubjectCode" maxlength="30" required>
                </div>
            </div>
            <hr>
            <div class="row mb-2">
                <div class="col-6">
                    <label class="form-label mb-0" for="inputLecturerSalary">Lecture Class Salary per Hour (RM)</label>
                    <input type="number" class="form-control" value="0" id="inputLectureSalary" name="inputLectureSalary" min="0" max="9999" step="0.5">
                </div>
                <div class="col-6">
                    <label class="form-label mb-0" for="inputTutorialSalary">Tutorial Class Salary per Hour (RM)</label>
                    <input type="number" class="form-control" value="0" id="inputTutorialSalary" name="inputTutorialSalary" min="0" max="9999" step="0.5">
                </div>
            </div>
        </div>
        <hr>
        <div class="container border border-dark mb-2 py-2" id="formWeeklyRepeatingOccurrence">
            <p class="h4 text-center mt-2">2. Add classes for claim</p>
            <div class="row mb-2">
                <div class="col-sm-6">
                    <label for="addType" class="form-label mb-0">Add Class Records</label>
                </div>
                <div class="col-sm-6">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="addTypeSingle" name="addType" value="single">
                        <label class="form-check-label" for="addTypeSingle">Add Single Class Record</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="addTypeRecur" name="addType" value="recur">
                        <label class="form-check-label" for="addTypeRecur">Add Recurring Class Records</label>
                    </div>
                </div>
            </div>
            <fieldset id="fieldAddSingle" disabled class="d-none">
                <div class="row">
                    <div class="col">
                        <p class="mb-0 text-decoration-underline text-center">Add Single Class Record</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <label for="lectureSingleDate" class="form-label mb-0">Class Date</label>
                        <input type="date" class="form-control" id="lectureSingleDate" required>
                    </div>
                </div>
            </fieldset>
            <fieldset id="fieldAddRecur" disabled class="d-none">
                <div class="row">
                    <div class="col">
                        <p class="mb-0 text-decoration-underline text-center">Add Recurring Classes</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-12">
                        <label class="form-label mb-0" for="lectureClassOccurrence">Class Occurrence (Weekly)</label>
                        <select class="form-control" id="lectureClassOccurrence" name="lectureClassOccurrence" required>
                            <option value="">--Select--</option>
                            <option value="0">Every Sunday</option>
                            <option value="1">Every Monday</option>
                            <option value="2">Every Tuesday</option>
                            <option value="3">Every Wednesday</option>
                            <option value="4">Every Thursday</option>
                            <option value="5">Every Friday</option>
                            <option value="6">Every Saturday</option>
                        </select>
                    </div>
                </div>
            </fieldset>
            <div class="row mb-2">
                <div class="col-md-12">
                    <p class="form-label mb-0">Class Type</p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="lectureClassType0" name="lecturerClassType" value="L">
                        <label class="form-check-label" for="lectureClassType0">Lecture</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="lectureClassType1" name="lecturerClassType" value="T">
                        <label class="form-check-label" for="lectureClassType1">Tutorial</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <p class="mb-0">Start Time</p>
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="form-label mb-0" for="lectureStartTimeHour">Hour</label>
                            <select class="form-control" id="lectureStartTimeHour" name="lectureStartTimeHour">
                                <option value="">-- Select --</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <p class="form-label mb-0">Minute</p>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="lectureStartTimeMinute0" name="lectureStartTimeMinute" value="0">
                                <label class="form-check-label" for="lectureStartTimeMinute0">00</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="lectureStartTimeMinute1" name="lectureStartTimeMinute" value="30">
                                <label class="form-check-label" for="lectureStartTimeMinute1">30</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <p class="form-label mb-0">AM/PM</p>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="lectureStartTimeAmpm0" name="lectureStartTimeAmpm" value="0">
                                <label class="form-check-label" for="lectureStartTimeAmpm0">AM</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="lectureStartTimeAmpm1" name="lectureStartTimeAmpm" value="1">
                                <label class="form-check-label" for="lectureStartTimeAmpm1">PM</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="mb-0">Class Length</p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="lectureLength0" name="lectureLength" value="30">
                        <label class="form-check-label" for="lectureLength0">0 hours, 30 minutes</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="lectureLength1" name="lectureLength" value="60">
                        <label class="form-check-label" for="lectureLength1">1 hour, 0 minutes</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="lectureLength2" name="lectureLength" value="90">
                        <label class="form-check-label" for="lectureLength2">1 hour, 30 minutes</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="lectureLength3" name="lectureLength" value="120">
                        <label class="form-check-label" for="lectureLength3">2 hour, 0 minutes</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="lectureLength4" name="lectureLength" value="150">
                        <label class="form-check-label" for="lectureLength4">2 hour, 30 minutes</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="lectureLength5" name="lectureLength" value="180">
                        <label class="form-check-label" for="lectureLength5">3 hour, 0 minutes</label>
                    </div>
                    <!-- <p>Class End Time: <span id="textClassEndTime"></span></p> -->
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <button class="btn btn-primary btn-sm" id="btnGenerateRepeatingRecords">Add Classes</button>
                </div>
            </div>
        </div>
        <hr>
        <p class="h4 text-center">Claim Form</p>
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-hover table-sm table-striped table-bordered" id="tableClassRecord">
                        <thead class="table-light">
                            <tr>
                                <th>#</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Duration</th>
                                <th>Lecture/Tutorial</th>
                                <th>Sum (RM)</th>
                                <th>Date of cancellation/Remarks</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <button class="btn btn-success">Generate Claim Form Document</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block extrajs %}
<script>
    const DISPLAY_HIDE = 'hide';
    const DISPLAY_SHOW = 'show';

    const ADDTYPE_SINGLE = 'single';
    const ADDTYPE_RECUR = 'recur';

    const CLASS_TYPE_LECTURE = 'L';
    const CLASS_TYPE_TUTORIAL = 'T';

    const HOUR_AM = 0;
    const HOUR_PM = 1;

    const STR_DELETEROW = 'deleterow';

    let btnGenerateRepeatingRecords;

    let generator = null;

    document.addEventListener('DOMContentLoaded', e => {

        btnGenerateRepeatingRecords = document.getElementById('btnGenerateRepeatingRecords');
        let formDom = document.getElementById('claimform');

        generator = new RecordsGenerator('btnGenerateRepeatingRecords', 'claimform', 'tableClassRecord');

        btnGenerateRepeatingRecords.addEventListener('click', e => {
            e.preventDefault();
            generator.generate();
        });

        formDom.addEventListener('click', e => {

            if('BUTTON' === e.srcElement.nodeName) {
                let btnAction = e.srcElement.getAttribute('action');
                if(STR_DELETEROW === btnAction) {
                    e.preventDefault();

                    generator.removeRow(e.srcElement.closest('tr'));
                }
            }
        });

        formDom.addEventListener('input', e => {
            let domName = e.srcElement.name;

            switch(domName) {
                case 'addType':
                    if(ADDTYPE_SINGLE === e.srcElement.closest('form').addType.value) {
                        toggleDisplayFormDom('fieldAddSingle', DISPLAY_SHOW);
                        toggleDisplayFormDom('fieldAddRecur', DISPLAY_HIDE);
                    } else {
                        toggleDisplayFormDom('fieldAddRecur', DISPLAY_SHOW);
                        toggleDisplayFormDom('fieldAddSingle', DISPLAY_HIDE);
                    }
                    break;
                case 'inputYear':
                case 'inputMonth':
                    // TODO: update lectureSingleDate min max
            }
        });

    });

    function toggleDisplayFormDom(domId, toggler) {
        let dom = document.getElementById(domId);

        if(DISPLAY_SHOW === toggler) {
            dom.disabled = false;
            dom.classList.add('d-block');
            dom.classList.remove('d-none');

        } else {
            dom.disabled = true;
            dom.classList.remove('d-block');
            dom.classList.add('d-none');
        }
    }

class RecordsGenerator {

    #btnGenerateRepeatingRecords = null;

    #formDom = null;
    #recordTableDom = null;

    #year = 0;
    #month = 0;
    #lectureSalary = 0;
    #tutorialSalary = 0;

    #addType = '';
    #classType = '';
    #startHour = 0;
    #startMinute = 0;
    #startAmPm = 0;
    #classLength = 0;

    #teachingDates = [];
    #startTime = null;
    #endTime = null;

    #singleClassDate = '';
    #recurringClassOccurrence = '';

    constructor(btnGenerateRepeatingRecordsId, formId, recordTableId) {
        this.#btnGenerateRepeatingRecords = document.getElementById(btnGenerateRepeatingRecordsId);
        this.#formDom = document.getElementById(formId);

        this.#recordTableDom = document.getElementById(recordTableId);
    }

    generate() {

        this.gatherAllData();

        if(ADDTYPE_SINGLE === this.#addType) {
            this.generateDateListSingle();
        } else {
            this.generateDateList();
        }

        this.getStartTime();
        this.getEndTime();

        this.generateTable();
    }

    /**
     * Gather all data for generating class table.
     */
    gatherAllData() {
        this.#year = parseInt(this.#formDom.inputYear.value);
        this.#month = this.getMonth();

        this.#lectureSalary = parseInt(this.#formDom.inputLectureSalary.value);
        this.#tutorialSalary = parseInt(this.#formDom.inputTutorialSalary.value);

        this.#addType = this.getAddRecordType();

        if(ADDTYPE_SINGLE === this.#addType) {
            this.#singleClassDate = this.getSingleClassDate();

        } else {
            this.#recurringClassOccurrence = this.getRecurringClassOccurrence();
        }

        this.#classType = this.getClassType();

        this.#startHour = this.getStartHour();
        this.#startMinute = this.getStartMinute();
        this.#startAmPm = this.getStartAmPm();
        this.#classLength = this.getClassLength();
    }

    getMonth() {
        if('' === this.#formDom.inputMonth.value) {
            this.#formDom.inputMonth.value = this.#formDom.inputMonth[1].value;

            let event = new InputEvent('input', {bubbles: true, cancelable: true});
            this.#formDom.inputMonth.dispatchEvent(event);
        }

        return parseInt(this.#formDom.inputMonth.value);
    }

    getAddRecordType() {
        if('' === this.#formDom.addType.value) {
            this.#formDom.addType.value = this.#formDom.addType[0].value;

            let event = new InputEvent('input', {bubbles: true, cancelable: true});
            this.#formDom.addType[0].dispatchEvent(event);
        }

        return this.#formDom.addType.value;;
    }

    getClassType() {

        if('' === this.#formDom.lecturerClassType.value) {
            this.#formDom.lecturerClassType.value = this.#formDom.lecturerClassType[0].value;

            let event = new InputEvent('input', {bubbles: true, cancelable: true});
            this.#formDom.addType[0].dispatchEvent(event);
        }

        return this.#formDom.lecturerClassType.value;
    }

    getSingleClassDate() {
        if('' === this.#formDom.lectureSingleDate.value) {
            let today = new Date();

            let month = (10 > today.getMonth()) ? '0' + today.getMonth().toString() : today.getMonth().toString();

            this.#formDom.lectureSingleDate.value = today.getFullYear() + '-' + month + '-' + today.getDate();
        }

        return this.#formDom.lectureSingleDate.value;
    }

    getRecurringClassOccurrence() {
        if('' === this.#formDom.lectureClassOccurrence.value) {
            this.#formDom.lectureClassOccurrence.value = this.#formDom.lectureClassOccurrence[1].value;

            let event = new InputEvent('input', {bubbles: true, cancelable: true});
            this.#formDom.lectureClassOccurrence.dispatchEvent(event);
        }

        return parseInt(this.#formDom.lectureClassOccurrence.value);
    }

    getStartHour() {
        if('' === this.#formDom.lectureStartTimeHour.value) {
            this.#formDom.lectureStartTimeHour.value = this.#formDom.lectureStartTimeHour[1].value;

            let event = new InputEvent('input', {bubbles: true, cancelable: true});
            this.#formDom.lectureStartTimeHour.dispatchEvent(event);
        }

        return parseInt(this.#formDom.lectureStartTimeHour.value);
    }

    getStartMinute() {
        if('' === this.#formDom.lectureStartTimeMinute.value) {
            this.#formDom.lectureStartTimeMinute.value = this.#formDom.lectureStartTimeMinute[0].value;

            let event = new InputEvent('input', {bubbles: true, cancelable: true});
            this.#formDom.lectureStartTimeMinute[0].dispatchEvent(event);
        }

        return parseInt(this.#formDom.lectureStartTimeMinute.value);
    }

    getStartAmPm() {
        if('' === this.#formDom.lectureStartTimeAmpm.value) {
            this.#formDom.lectureStartTimeAmpm.value = this.#formDom.lectureStartTimeAmpm[0].value;

            let event = new InputEvent('input', {bubbles: true, cancelable: true});
            this.#formDom.lectureStartTimeAmpm[0].dispatchEvent(event);
        }

        return parseInt(this.#formDom.lectureStartTimeAmpm.value);
    }

    getClassLength() {
        if('' === this.#formDom.lectureLength.value) {
            this.#formDom.lectureLength.value = this.#formDom.lectureLength[0].value;

            let event = new InputEvent('input', {bubbles: true, cancelable: true});
            this.#formDom.lectureLength[0].dispatchEvent(event);
        }

        return parseInt(this.#formDom.lectureLength.value);
    }

    getMonthMinDate(year, month) {
        return new Date(year, month, 0);
    }

    getMonthMaxDate(year, month) {
        return new Date(year, month + 1, 0);
    }

    generateDateListSingle() {
        let listOfDate = [];

        let date = new Date(this.#singleClassDate);

        let dateStr = date.getDate() + '-' + (date.getMonth() + 1) + '-' + date.getFullYear();

        listOfDate.push(dateStr);

        this.#teachingDates = listOfDate;
    }

    generateDateList() {
        let year = this.#year;

        let month = this.#month - 1;

        month = (true === isNaN(month)) ? 0 : month;

        let dayofTeaching = this.#recurringClassOccurrence;

        let days = this.getMonthMaxDate(year, month).getDate();  // max date in the month

        let firstDateOfMonth = new Date();
        firstDateOfMonth.setFullYear(year);
        firstDateOfMonth.setMonth(month);
        firstDateOfMonth.setDate(1);

        while(firstDateOfMonth.getDay() !== dayofTeaching) {
            firstDateOfMonth.setDate(firstDateOfMonth.getDate() + 1);
        }

        let listOfDate = [];

        for(let i = firstDateOfMonth.getDate(); i < days; i += 7) {
            listOfDate.push(i + '-' + (month + 1) + '-' + year);
        }

        this.#teachingDates = listOfDate;
    }

    getEndTime() {
        let startHour = this.#startHour;
        let startMinute = this.#startMinute;
        let amPm = this.#startAmPm;

        let classLength = this.#classLength;

        let endTime = new Date();
        endTime.setHours((HOUR_PM === amPm) ? startHour + 12 : startHour);
        endTime.setMinutes(startMinute + classLength);
        endTime.setSeconds(0);

        this.#endTime = endTime;
    }

    getStartTime() {
        let startHour = this.#startHour;
        let startMinute = this.#startMinute;
        let amPm = this.#startAmPm;

        let startTime = new Date();
        startTime.setHours((HOUR_PM === amPm) ? startHour + 12 : startHour);
        startTime.setMinutes(startMinute);
        startTime.setSeconds(0);

        this.#startTime = startTime;
    }

    getTimeString(dateTimeObject) {
        let startHour = dateTimeObject.getHours();
        let startMinute = dateTimeObject.getMinutes();

        return ((10 > startHour) ? '0' + startHour.toString() : startHour.toString()) + ((10 > startMinute) ? '0' + startMinute.toString() : startMinute.toString());
    }

    generateTable() {
        let timeStringStart = this.getTimeString(this.#startTime);
        let timeStringEnd = this.getTimeString(this.#endTime);
        let timeString = timeStringStart + ' - ' + timeStringEnd;
        let classLength = this.#classLength / 60;
        let classType = this.#classType;
        let classRevenue = (CLASS_TYPE_LECTURE === classType) ? classLength * this.#lectureSalary : classLength * this.#tutorialSalary;

        for(let i = 0; i < this.#teachingDates.length; i++) {
            let newRow = this.#recordTableDom.tBodies[0].insertRow(-1);

            // #
            let newCell = newRow.insertCell(-1);
            newCell.textContent = this.#recordTableDom.tBodies[0].rows.length;

            // Date column
            this.generateNewCell(newRow, this.#teachingDates[i], 'inputClassDate', this.#teachingDates[i]);

            // Time column
            // newRow.insertCell(-1);
            this.generateNewCell(newRow, timeString, 'inputClassTime', timeString);

            // Duration column
            this.generateNewCell(newRow, classLength, 'inputClassDuration', classLength);

            // Lecture/Tutorial column
            this.generateNewCell(newRow, classType, 'inputClassType', classType);

            // Sum (RM) column
            this.generateNewCell(newRow, classRevenue, 'inputClassRevenue', classRevenue);

            // Date of cancellation/Remarks column
            newRow.insertCell(-1);

            // Action column
            this.generateActionCell(newRow);

        }
    }

    generateNewCell(rowElement, displayText, inputName, inputValue) {
        let newCell = rowElement.insertCell(-1);
        newCell.textContent = displayText;

        if('' !== inputName) {
            let newHiddenInput = document.createElement('input');
            newHiddenInput.type = 'hidden';
            newHiddenInput.name = inputName + '[]';
            newHiddenInput.value = inputValue;

            newCell.appendChild(newHiddenInput);
        }

        return newCell;
    }

    generateActionCell(rowElement) {
        let deleteButton = document.createElement('button');
        deleteButton.classList.add('btn');
        deleteButton.classList.add('btn-danger');
        deleteButton.classList.add('btn-sm');
        deleteButton.classList.add('text-light');
        deleteButton.textContent = 'DELETE';
        deleteButton.setAttribute('action', STR_DELETEROW);

        let newCell = rowElement.insertCell(-1);
        newCell.appendChild(deleteButton);

        return newCell;
    }

    removeRow(rowDom) {
        let parent = rowDom.closest('tbody');

        parent.removeChild(rowDom);
    }

}
</script>
{% endblock %}
